<h3>About</h3>
<% if not @puzzle.about.nil? %>
	<%= @puzzle.about %>
<% end %>
<p>Created on <%= @puzzle.created_at %></p>
<% if @puzzle.updated_at != @puzzle.created_at %>
<p>Updated on <%= @puzzle.updated_at %></p>
<% end %>
<p>TODO: like</p>
<p>TODO: share</p>