<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>500 Server Error - Monkeypuzzles</title>
  <meta name="description" content="A collection of the greatest puzzles in the world.">
  <meta name="author" content="Adam Renberg and Olle Werme">
  <meta name="viewport" content="width=device-width">
</head>
<body>

  <h1>500 Server Error. Oops!</h1>
  <p>Something bad has happened... we're on it! Or perhaps not. Contact us!</p>

</body>
</html>
