<header>
	<smaller class="ornament">List o<span>f</span></smaller>
		<h1>All Puzzles</span></h1>
    <h1 style="line-height: 0; margin-bottom: 0.6em; color: white;"><span>.</span></h1>
    <smaller></smaller>
</header>

<article>
	<%= erb :"partials/list_puzzles" %>
</article>

