<div class="row-fluid">
<div class="span12">
<header class="title">

	<!-- Since browsers still won't handle letter-spacing correctly. SPAN! |(-.-)/ -->
	<!--<smaller class="ornament">Category: <a href="#">Monkey har<span>d</span></a></smaller>-->
		<h1 class="super_title1">Monkey</h1>
		<h1 class="super_title2">puzzles</h1>
    <!--<smaller>Puzzles not even a monkey could solv<span>e</span></smaller>-->
</header>
<section>

<p>Welcome to the wonderous world of intriguing inquiries and clever
conundrums! This collection of puzzles, both profound and puerile, is sure to
challenge your intellect.  Choose a puzzle by category, view them <a
	href="/all" class="icon-pre-link"><i class="icon-list-ul"></i>all</a>, or
start right now with a <a href="/random" class="icon-pre-link"><i
		class="icon-random"></i>random puzzle</a>. Enjoy!</p>

<p>Beware, this is a work in progress.  Urls and links are have not yet been
finalized. External references are not recommended yet.  Occasional hiccups are
to be expected.</p>

<p class="categories">
<!-- TODO: make it look good, and better -->
Categories:
<%=
	@categories.map {|c| "<a href=\"#{path_to_category c[0]}\">#{c[0]} (#{c[1]})</a>"}.join
%>
</p>

</section>

</div>
</div>
