<div class="row-fluid">
<div class="span12">
<header>
	<!-- Since browsers still won't handle letter-spacing correctly. SPAN! |(-.-)/ -->
    <!-- Ornaments will be replaced with images -->
	<div class="ornament">z<span>y</span></div>
	<smaller>Category: <a href="#">Monkey har<span>d</span></a></smaller>
		<h1>Monkeypuzzle<span>s</span></h1>
    <h1 style="line-height: 0; margin-bottom: 0.6em; color: white;"><span>.</span></h1>
    <small>Puzzles not even <span>a</span></small>
    <small>monkey could solv<span>e</span></small>
</header>
<section>

<p>Welcome to the wonderous world of intriguing inquiries and clever
conundrums! This magical place will titilate your senses and challenge your
intellect. Choose a puzzle by category, view them <a href="/search">all</a>, or
start right now with a <a href="/random">random puzzle</a>. Enjoy!</p>

<p>Beware, this is a work in progress. Occasional hiccups are to be expected.</p>

<p>
<form action="/search" method="get" class="big-search">
	<input type="text" name="q" placeholder="Search..." value="<%= @q %>" />
</form>
</p>

<p>
<!-- TODO: make it look good, and better -->
Tags:
<ul>
	<% @tags.each do |t| %>
		<li><a href="<%= path_to_tag t[0] %>"><%= t[0] %> (<%= t[1] %>)</a></li>
	<% end %>
</ul>
</p>

</section>

</div>
</div>
