<div class="row-fluid">
<div class="span12">
<header class="title">

	<!-- Since browsers still won't handle letter-spacing correctly. SPAN! |(-.-)/ -->
	<!--<smaller class="ornament">Category: <a href="#">Monkey har<span>d</span></a></smaller>-->
		<h1 class="super_title1">Monkey</h1>
		<h1 class="super_title2">puzzles</h1>
    <!--<smaller>Puzzles not even a monkey could solv<span>e</span></smaller>-->
</header>
<section>

<p>Welcome to the wonderous world of intriguing inquiries and clever
conundrums! This magical place will titilate your senses and challenge your
intellect. Choose a puzzle by category, view them <a href="/search">all</a>, or
start right now with a <a href="/random">random puzzle</a>. Enjoy!</p>

<p>Beware, this is a work in progress. Occasional hiccups are to be expected.</p>

<form action="/search" method="get" class="big-search">
	<input type="text" name="q" placeholder="Search..." value="<%= @q %>" />
</form>

<p>
<!-- TODO: make it look good, and better -->
Categories:
<%=
	@categories.map {|c| "<a href=\"#{path_to_category c[0]}\">#{c[0]} (#{c[1]})</a>"}.join ', '
%>.
</p>

</section>

</div>
</div>
