<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>MonkeyPuzzles</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/style.css">

	<script type="text/javascript" src="//use.typekit.net/jnj3tjq.js"></script>
	<script type="text/javascript">try { Typekit.load(); } catch (e) {}</script>
</head>

<body>
	<div class="container">
		<div class="navbar navbar-static-top navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="/"><img src="/img/monkey_w.png">MonkeyPuzzles</a>

				<ul class="nav pull-right">
					<!-- A menu item or two here-->
				</ul>
			</div>
		</div>

		<section class="content">

			<%= yield %>

		</section>

	</div>

	<footer>
		<div class="row">
			<div class="span6 about">
				<h3>About this monkey site</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>

				<p>The source is available on <a
					href="https://github.com/tgwizard/monkeypuzzles">github</a>. Bugs,
				issues, comments, contributions - they are all welcome.</p>
			</div>
			<div class="span3 links">
				<h3>Sitemap</h3>
				<ul>
					<li><a href="#">The Mandatory</a></li>
					<li><a href="#">Oh-so Important</a></li>
					<li><a href="#">Footer Hyperlinks</a></li>
					<br/>
					<li><a href="/list">List all puzzles</a></li>
					<li><a href="/search">Search</a></li>
					<li><a href="/random">Random puzzle</a></li>
				</ul>
			</div>
			<div class="span3 share">
				<h3>Share</h3>
				<ul>
					<li><a href="#"><i class="icon-facebook"></i> Like us on Facebook<!-- LOL! --></a></li>
					<li><a href="#"><i class="icon-twitter"></i> Follow us on Twitter</a></li>
					<br/>
					<li><a href="#"><i class="icon-envelope-alt"></i> Share by mail</a></li>
				</ul>
			</div>
		</div>
		<div class="row copyright">
			<div class="span12">
				<p>Another yet to be completed site &copy; <a href="#">Adam Renberg</a> and <a href="#">Olle Werme</a>.</p>
			</div>
		</div>
	</footer>

</body>
</html>
