<div class="row">
<div class="span4">

<form action="/search" method="get">
	<input type="text" name="q" placeholder="Search..." value="<%= @q %>" />
</form>

<h2>Search results</h2>

<% if @puzzles.length > 0 %>
	<%= erb :"partials/list_puzzles" %>
<% else %>
<p>
No puzzles found.
</p>
<% end %>

</div>
</div>
