<div class="row">
<div class="span4">

<h2><%= @puzzle.title %></h2>
<h3>Answer</h3>

<%= @puzzle.answer %>

<p>
<a href="<%= path_to_puzzle @puzzle %>">&laquo; Back to puzzle</a>
</p>

</div>
</div>
