<header>
	<div class="ornament">z<span>y</span></div>
	<smaller>Categor<span>y</span></smaller>
		<h1><%= @category %></span></h1>
    <h1 style="line-height: 0; margin-bottom: 0.6em; color: white;"><span>.</span></h1>
    <smaller></smaller>
</header>

<article>

<%= erb :"partials/list_puzzles" %>

</article>
