<div class="row-fluid">
<div class="span12">
	<header>
		<small>Solution for:</small>
		<h1><%= @puzzle.title %></h1>
	</header>

	<p>
		<%= @puzzle.answer %>
	</p>

	<p>
		<a class="back-link" href="<%= path_to_puzzle @puzzle %>"><i class="icon-arrow-left"></i> Back to puzzle</a>
	</p>
</div>
</div>