h1, h2, h3, input, label, a, p, li, small, smaller {
  font-family: legitima, georgia, "Times New Roman", serif;
}

html {
  font-size: 120%;
  line-height: 1.3;
}

html,body {
  height: 100%;
}

body {
  background: #CC8C4C;
  background: url('../images/bg.png');
  color: white;
}

body, label {
  font-size: 100%;
  line-height: 1.3;

  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

p {
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1.25rem;
}

h1, h2, h3 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
}

li {
  line-height: 150%;
}

hr {
    border: 0;
    height: 1px;
    margin: 1.2rem 0;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));  
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));  
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));  
}

.number {
	font-family: "Courier new", Courier, monospace;
	font-weight: bold;
}

.colored-number {
	font-family: "Courier new", Courier, monospace;
	font-weight: bold;
	color: #a04907;
}

/* RESPONSIVENESS */
@media (max-width: 767px) {
  body {
    padding: 0 !important;
  }
  .high-res-nav {
    display: none;
  }
}

@media (max-width: 640px) {
  .content {
    padding: 40px 20px 320px !important;
    width: 100% !important;
  }

  .navbar-search {
    display: none;
  }
}

@media (min-width: 767px) {
  .low-res-nav span {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size:100%;
  }
  footer {
    font-size: 100% !important;
  }

  .navbar-inner .nav {
    display: none;
  }

  .title h1 {
    font-size: 4rem !important;
  }
}
@media (max-width: 380px) {
  .title h1 {
    font-size: 3.5rem !important;
  }
}

/* CONTAINER FIX */
.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

.container {
  min-height: 100%;
}

/* MAIN CONTENT LOVE */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 10px 300px;
  width: 600px;
}

.content a {
  color: #006699;
  text-decoration: underline;
}

.content a:hover {
  color: #2277bb;
  text-decoration: none;
}

/* DROP-CAPS */
.content article p:first-child:first-letter {
  float: left;
  display: block;
  padding: 0.4rem 0.4rem 0;
  font-size: 3rem;
  line-height: 1.9rem;
}

.content article {
  position: relative;
}

.low-res-nav {
  position: relative;
  margin: 0 auto;
  width: 200px;
}

.high-res-nav span, .low-res-nav span {
  position: absolute;
  top: 50%;
}

.high-res-nav a, .low-res-nav a {
  display: block;
  padding: 0 10px;
  margin: -17px auto 0;
  background: none;
  text-decoration: none;
  font-size: 36px;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.high-res-nav .arrow-left {
  left: -10%;
}

.high-res-nav .arrow-right {
  right: -10%;
}

.low-res-nav .arrow-left {
  left: 20px;
}

.low-res-nav .arrow-right {
  right: 20px;
}

/* ZIGZAG BORDER LOVE */
footer:before,.navbar:after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 5px;
  content: '';
}

.navbar:after {
  margin-top: -5px;
  background: url('../images/zigzag_up.png');
}

footer:before {
  margin-top: -40px;
  background: url('../images/zigzag_down.png');
}

/* REVEAL RIDDLE ANSWER BUTTON LOVE */
.answer-link,.inactive-answer-link {
  padding: 3rem;
}

.answer-link a,.inactive-answer-link a {
  display: block;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border: 5px solid #006690;
  border-radius: 100%;
  background: url(../images/key.png) 50% 50% no-repeat;

  -webkit-box-shadow: inset 0 0 0 25px transparent;
  box-shadow: inset 0 0 0 25px transparent;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.answer-link a:hover {
  border: 0 dotted transparent;

  -webkit-box-shadow: inset 0 0 0 0 #006690;
  box-shadow: inset 0 0 0 0 #006690;
}

.inactive-answer-link a {
  border: 5px dotted #7d5731;
  background: url(../images/key-inactive.png) 50% 50% no-repeat;
  cursor: default;
}

/* PUZZLE HEADER LOVE */
header {
  margin: 0 0 2rem;
  text-align: center;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 2.2rem;
}

header small {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
}

header smaller {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 100;
  font-size: 0.7rem;
  line-height: 1.5rem;
}

header span {
  letter-spacing: 0;
}

.ornament:before,.ornament:after {
  position: relative;
  top: -0.6rem;
}

.ornament:before {
  margin-right: -1rem;
  content: url(../images/ornament-left.png);
}

.ornament:after {
  margin-left: -1rem;
  content: url(../images/ornament-right.png);
}

.tags,.similar {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-size: 0.8rem;
}

.title smaller {
  font-size: 0.8rem;
}

[class*='super_title'] {
  margin-left: -2rem;
  font-size: 5rem;
  line-height: 4rem;
}

.super_title2 {
  margin-bottom: 2rem;
  color: #1e160f;
  text-transform: lowercase;
  text-shadow: 0 -1px 0 black;
  font-size: 4rem;
}

[class*='super_title'] span {
  position: relative;
  display: inline-block;
}

[class*='super_title'] [class*='char'] {
  margin-right: 0px;
}

.super_title1 .char2 {
  margin-left: -10px;
  vertical-align: top;
  font-size: 137%;

  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.super_title1 .char6 {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-left: -14px;
  vertical-align: top;
  font-size: 130%;

  -webkit-transform: rotate(9deg);
  -moz-transform: rotate(9deg);
  -o-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}

.super_title1 .char5 {
  position: relative;
  display: inline-block;
  margin-left: -6px;
  vertical-align: top;
  font-size: 66%;

  -webkit-transform: rotate(-13deg);
  -moz-transform: rotate(-13deg);
  -o-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  transform: rotate(-13deg);
}

.super_title1 .char3 {
  margin-left: -1px;
  vertical-align: top;
  font-size: 78%;
}

.super_title1 .char1 {
  position: relative;
  top: 21px;
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
  font-size: 97%;

  -webkit-transform: rotate(-19deg);
  -moz-transform: rotate(-19deg);
  -o-transform: rotate(-19deg);
  -ms-transform: rotate(-19deg);
  transform: rotate(-19deg);
}

.super_title1 .char4 {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: -2px;
  vertical-align: top;
  font-size: 110%;
}

.super_title2 .char4 {
  position: relative;
  top: -17px;
  display: inline-block;
  margin-left: -3px;
  vertical-align: top;
  font-size: 89%;
}

.super_title2 .char1 {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-left: 51px;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 101%;

  -webkit-transform: rotate(-11deg);
  -moz-transform: rotate(-11deg);
  -o-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
}

.super_title2 .char2 {
  position: relative;
  top: -17px;
  display: inline-block;
  vertical-align: top;
}

.super_title2 .char3 {
  position: relative;
  top: -12px;
  display: inline-block;
  vertical-align: top;
  font-size: 172%;
}

.super_title2 .char6 {
  position: relative;
  top: -11px;
  display: inline-block;
  margin-left: -22px;
  vertical-align: top;
}

.super_title2 .char7 {
  position: relative;
  top: -10px;
  display: inline-block;
  margin-left: 0;
  vertical-align: top;
  font-size: 144%;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.super_title2 .char5 {
  position: relative;
  top: 8px;
  display: inline-block;
  margin-left: -6px;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 148%;

  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}

/* SEARCH LOVE */
input::-webkit-input-placeholder {
  color: #a26330;
}

form.big-search {
  padding-right: 20px;
}

.big-search input[type="text"] {
  padding: 8px 10px 4px;
  margin: 15px 0 -5px;
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background: white;

  box-shadow: inset 1px 1px 0 0 #b67534, inset -1px -1px 0px 0 #d89756;
  color: #1e160f;
  font-size: 40px;
  line-height: 1em;
}

.big-search input[type="text"]:hover {
  background: #fed;
}

.big-search input[type="text"]:focus {
  background: white;
}

ul.centered-list {
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0;
  box-shadow: inset 1px 1px 0 0 #b67534, inset -1px -1px 0px 0 #d89756;
  background: #c78645;
  border-radius: 10px;
}
.centered-list li {
  display: block;
  margin: 0 1px;
  padding: 0 0.4rem;
	clear: both;
}

.centered-list li:nth-child(even) {
  background: #d1904f;
}

.centered-list a {
  display: block;
  margin: 0 -10px;
  padding: 0.21rem 12px 0;
  line-height: 1.7rem;
  text-decoration: none;
}
.centered-list a:hover {
  background: #f1b06f;
  background: rgba(255,255,255,0.1);
}

.centered-list li .meta-data {
	float: right;
	color: #fff;
}

.categories a , a.tag-link{
  display: inline-block;
  padding: 0.1rem 0.3rem 0;
  margin: -0.1rem 0.1rem 0.3rem;
  border-radius: 5px;
  background: #bd8145;
  text-decoration: none;
  white-space: nowrap;
}

.categories a:hover, a.tag-link:hover {
  background: #c78645;
  box-shadow: inset 1px 1px 0 0 #b67534, inset -1px -1px 0px 0 #d89756;
}

a.icon-pre-link {
  text-decoration: none;
  white-space: nowrap;
}

a.icon-pre-link i {
  line-height: 50%;
  margin-right: 4px;
}

/* FOOTER LOVE */
footer {
  font-size: 0.85rem;
  line-height: 1.3rem;

  position: relative;
  display: block;
  margin-top: -280px;
  padding: 40px;
  background-color: #1B1B1B;

  background-image: -webkit-linear-gradient(top, #1e160f, #1c1711);
  background-image: -moz-linear-gradient(top, #1e160f, #1c1711);
  background-image: -o-linear-gradient(top, #1e160f, #1c1711);
  background-image: -ms-linear-gradient(top, #1e160f, #1c1711);
  background-image: linear-gradient(top, #1e160f, #1c1711);

  -webkit-box-shadow: 0px 0px 20px black inset;
  box-shadow: 0px 0px 20px black inset;
  color: #555;
}

footer h1 {
  text-shadow: 1px 1px 1px #111;
  font-size: 1rem;
  text-align: left;
  margin: 0 0 0.8rem;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  margin: -5px -10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #0077a2;
  text-decoration: none;
}

footer a:hover {
  background: #111;
  color: #0088cc;
  text-decoration: none;
}

footer .copyright {
  margin-top: 1rem;
}

/* BOOTSTRAP NAVBAR TWEAKS */
.navbar-inverse .navbar-inner {
  padding: 6px 10px 3px;
  background-color: #1B1B1B;

  background-image: -webkit-linear-gradient(top, #1e160f, #1c1711);
  background-image: -moz-linear-gradient(top, #1e160f, #1c1711);
  background-image: -o-linear-gradient(top, #1e160f, #1c1711);
  background-image: -ms-linear-gradient(top, #1e160f, #1c1711);
  background-image: linear-gradient(top, #1e160f, #1c1711);

  -webkit-box-shadow: 0px 0px 20px black inset;
  box-shadow: 0px 0px 20px black inset;
}

.navbar-inverse .brand {
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav > li > a {
  color: #ddd;
}

.navbar-inverse .nav .active > a,.navbar-inverse .nav .active > a:hover,.navbar-inverse .nav .active > a:focus {
  background-color: #0f0b07;
  color: white;
}

.navbar .brand img {
  margin: -4px 8px 0 4px;
  width: 32px;
}

.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #555;
}

.navbar-inverse .navbar-search .search-query {
  padding: 4px 9px 2px;
  border-radius: 15px;
  background: #666;
  background: rgba(255, 255, 255, 0.05);
  color: #555;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
}

.navbar-inverse .navbar-search .search-query:hover {
  background-color: grayLight;
  background-color: rgba(255, 255, 255, 0.07);
  color: #444;
}

.navbar-inverse .navbar-search .search-query:focus,.navbar-inverse .navbar-search .search-query .focused:hover {
  padding: 4px 9px 2px;
  border: 1px solid #fff;
  background: white;
}
.dropdown .dropdown-toggle{
	color: #222222;
	padding: 3px !important;
	margin-top: 2px;
	border-radius: 5px;
	background: white;
	background: -webkit-linear-gradient(#ddd 0%, #ffffff 100%);
	box-shadow: inset 0 1px 1px 0 white, inset 0 -1px 1px 0 #ddd;
}

.navbar-inverse .nav .dropdown-toggle div {
  color: #333;
	float: left;
	padding: 5px;
}

.dropdown img {
	width: 30px;
	border-radius: 3px;
}

/* TODO: set this proper */
.modal,
.modal .help-block, .modal .help-inline {
	color: #000;
}

.modal .gravatar-row {
	width: 100%;
	clear: both;
}

.modal .gravatar-row .gravatar-img{
	width: 90px;
	height: 90px;
}

.modal .gravatar-row .gravatar-text{
	width: 420px;
	margin-left: 15px;
}

/* COMMENT LOVE */

.comments {
	background: rgba(58,24,2,0.12);
	border-radius: 10px;
	margin-bottom: 1em;
}

.comment {
	padding: 0.8em;
	box-sizing: border-box;
	border-top: 1px solid #aa6c3b;
}
.comment:first-child {
	border: none;
}

.comment .profile-picture {
	display: block;
	padding: 4px;
	width: 70px;
	background: white;
	border-radius: 8px;
}

.comment .profile-picture img {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 70px;
	border-radius: 5px;
}

.comment .timestamp {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.6em;
	min-height: 20px;
	padding: 0 1em;
	color: #6a2903;
}

.comment a.username {
	text-decoration: none;
}

.sharing .share-button {
  display: inline-block;
  opacity: 0.6;
  margin-right: 10px;
}

.sharing .share-button.facebook * {
  margin-top: -4px;
}

.sharing .share-button:hover {
  opacity: 1.0;
}
