/* ornament font to be replaced with images */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'ornaments';
  src: url('../fonts/Nymphette-webfont.eot');
  src: url('../fonts/Nymphette-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Nymphette-webfont.woff') format('woff'), url('../fonts/Nymphette-webfont.ttf') format('truetype'), url('../fonts/Nymphette-webfont.svg#NymphetteRegular') format('svg');
}

html,body {
  height: 100%;
}

body {
  background: #CC8C4C;
  background: url('../img/bg.png');
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 100%;
  font-family: legitima;
  /* -webkit-font-smoothing: antialiased; */
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

p { -webkit-font-smoothing: antialiased; }
h1, h2, h3 { font-weight: normal; } /* font-weight too inconsistent between browsers */

/* RESPONSIVENESS */
@media (max-width: 767px) {
body {
  padding: 0;
}

  section {
  width: 100% !important;
  padding: 5% !important;
}

.content article span { display: none; }

}

/* CONTAINER FIX */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* MAIN CONTENT LOVE */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 10px 300px;
  width: 450px;
}

.content a {
  color: #006690;
  text-decoration: underline;
}

.content a:hover {
  color: #0088cc;
  text-decoration: none;
}

/* DROP-CAPS */
.content article p:first-child:first-letter {
  float: left;
  display: block;
  padding: 0.5rem 0.4rem 0;
  font-size: 2.4rem;
  line-height: 1.8rem;
}

.content article {
  position: relative;
}

.content article span {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.content article span a i {
  padding: 1rem;
  margin: -1rem;
  font-size: 1.8rem;
  text-decoration: none;
  background: none;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.content .arrow-left {
  left: -4rem;
}

.content .arrow-right {
  right: -4rem;
}

/* ZIGZAG BORDER */
/* Not working on all browsers, will be replaced with PNG */
footer:before,.navbar:after {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  height: 0.4rem;
  background: url('../img/bg_up.svg');

  -webkit-background-size: 0.8rem 0.4rem;
  -moz-background-size: 10px 5px;
  background-size: 0.8rem 0.4rem;
  content: '';
  z-index: 1;
}

.navbar:after {
  margin-top: -0.4rem;
}

footer:before {
  margin-top: -40px;

  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

/* REVEAL RIDDLE ANSWER BUTTON LOVE */
.answer {
  margin-top: 3rem;
  text-align: center;
  font-size: 3rem;
  height: 150px;
}

/* temporary */
.answer a {
  display: block;
  margin: 0 auto;
  padding: 30px;
  padding-left: 0em;
  width: 50px;
  height: 20px;
  border: 5px solid #006690;
  border-radius: 45px;
  text-decoration: none;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.answer a:hover {
  padding-top: 35px;
  border: 0 dotted transparent;
}

/* HEADER LOVE */
header {
  margin: 0 0 2rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

header small {
  display: block;
  width: 100%;
  color: white;
  letter-spacing: 0.4rem;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4em;
  text-transform: uppercase;
}

header smaller {
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 100;
  font-size: 0.7rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

header span {
  letter-spacing: 0;
}

header .ornament {
  margin: 0 auto;
  color: white;
  letter-spacing: 6.6rem;
  font-size: 1.8rem;
  font-family: 'ornaments';
  line-height: 1rem;
}

.tags, .similar {
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* FOOTER LOVE */
footer {
  position: relative;
  display: block;

  margin-top: -286px;
  padding: 40px;
  background-color: #1B1B1B;

  background-image: -webkit-linear-gradient(top, #1e160f, #1c1711);
  background-image: -moz-linear-gradient(top, #1e160f, #1c1711);
  background-image: -o-linear-gradient(top, #1e160f, #1c1711);
  background-image: -ms-linear-gradient(top, #1e160f, #1c1711);
  background-image: linear-gradient(top, #1e160f, #1c1711);

  -webkit-box-shadow: 0px 0px 20px black inset;
  box-shadow: 0px 0px 20px black inset;
  color: #555;
}

footer h3 {
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px #111;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  margin: -5px -10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #0077a2;
  text-decoration: none;
}

footer a:hover {
  background: #111;
  color: #0088cc;
  text-decoration: none;
}

footer .copyright {
  margin-top: 1rem;
}

/* BOOTSTRAP NAVBAR TWEAKS */
.navbar-inverse .navbar-inner {
  padding: 0.6rem;
  background-color: #1B1B1B;

  background-image: -webkit-linear-gradient(top, #1e160f, #1c1711);
  background-image: -moz-linear-gradient(top, #1e160f, #1c1711);
  background-image: -o-linear-gradient(top, #1e160f, #1c1711);
  background-image: -ms-linear-gradient(top, #1e160f, #1c1711);
  background-image: linear-gradient(top, #1e160f, #1c1711);

  -webkit-box-shadow: 0px 0px 20px black inset;
  box-shadow: 0px 0px 20px black inset;
}

.navbar-inverse .brand,.navbar-inverse .nav > li > a {
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav .active > a,.navbar-inverse .nav .active > a:hover,.navbar-inverse .nav .active > a:focus {
  background-color: #0f0b07;
  color: white;
}

.navbar .brand img {
  margin: -100px 6px;
  width: 2rem;
}
