/* ornament font to be replaced with images */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'ornaments';
  src: url('../fonts/Nymphette-webfont.eot');
  src: url('../fonts/Nymphette-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Nymphette-webfont.woff') format('woff'), url('../fonts/Nymphette-webfont.ttf') format('truetype'), url('../fonts/Nymphette-webfont.svg#NymphetteRegular') format('svg');
}

html,body {
  height: 100%;
}

body {
  background: #CC8C4C;
  background: url('../img/bg.png');
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 100%;
  font-family: legitima; /* -webkit-font-smoothing:   antialiased; */
-webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

p {
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3 {
  font-weight: normal;
}

/* font-weight too inconsistent between browsers */
/* RESPONSIVENESS */
@media (max-width: 767px) {
  body {
  padding: 0 !important;
}

.content {
  padding: 40px 20px 320px !important;
  width: 100% !important;
}

.content article span {
  display: none;
}

}

@media (min-width: 767px) {
  .low-res-nav span {
  display: none;
}

}

/* CONTAINER FIX */
.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* MAIN CONTENT LOVE */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 10px 300px;
  width: 450px;
  -ms-box-sizing: border-box;
}

.content a {
  color: #006690;
  text-decoration: underline;
}

.content a:hover {
  color: #0088cc;
  text-decoration: none;
}

/* DROP-CAPS */
.content article p:first-child:first-letter {
  float: left;
  display: block;
  padding: 0.5rem 0.4rem 0;
  font-size: 2.4rem;
  line-height: 1.8rem;
}

.content article {
  position: relative;
}

.low-res-nav {
  position: relative;
  margin: 0 auto;
  width: 200px;
}

.high-res-nav span,.low-res-nav span {
  position: absolute;
  top: 50%;
}

.high-res-nav a,.low-res-nav a {
  display: block;
  margin: -1.5rem;
  padding: 1rem;
  background: none;
  text-decoration: none;
  font-size: 1.8rem;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -ms-transition: all 0.4s;
}

.high-res-nav .arrow-left {
  left: -4rem;
}

.high-res-nav .arrow-right {
  right: -4rem;
}

.low-res-nav .arrow-left {
  left: 2rem;
}

.low-res-nav .arrow-right {
  right: 2rem;
}

footer:before,.navbar:after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 5px;
  content: '';
}

.navbar:after {
  margin-top: -5px;
  background: url('../img/zigzag_up.png');
}

footer:before {
  margin-top: -40px;
  background: url('../img/zigzag_down.png');
}

/* REVEAL RIDDLE ANSWER BUTTON LOVE */
.answer-link,.inactive-answer-link {
  padding: 3rem;
}

.answer-link a,.inactive-answer-link a {
  display: block;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border: 5px solid #006690;
  border-radius: 100%;
  background: url(../img/key.png) 50% 50% no-repeat;

  -webkit-box-shadow: inset 0 0 0 25px transparent;
  box-shadow: inset 0 0 0 25px transparent;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -ms-box-sizing: border-box;
  -ms-transition: all 0.4s;
}

.answer-link a:hover {
  border: 0 dotted transparent;

  -webkit-box-shadow: inset 0 0 0 0 #006690;
  box-shadow: inset 0 0 0 0 #006690;
}

.inactive-answer-link a {
  border: 5px dotted #7d5731;
  background: url(../img/key-inactive.png) 50% 50% no-repeat;
  cursor: default;
}

/* HEADER LOVE */
header {
  margin: 0 0 2rem;
  text-align: center;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  line-height: 2rem;
}

header small {
  display: block;
  width: 100%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4em;
}

header smaller {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 100;
  font-size: 0.7rem;
  line-height: 1.5rem;
}

header span {
  letter-spacing: 0;
}

header .ornament {
  margin: 0 auto;
  color: white;
  letter-spacing: 6.6rem;
  font-size: 1.8rem;
  font-family: 'ornaments';
  line-height: 1rem;
}

.tags,.similar {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-size: 0.8rem;
}

/* SEARCH LOVE */
input::-webkit-input-placeholder {
  color: white;
}

form.big-search {
  padding-right: 20px;
}

.big-search input[type="text"] {
  padding: 8px 12px 4px;
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background: #c78645;

  -webkit-box-shadow: inset 1px 1px 0 0 #b67534, inset -1px -1px 0px 0 #d89756;
  box-shadow: inset 1px 1px 0 0 #b67534, inset -1px -1px 0px 0 #d89756;
  color: white;
  font-size: 40px;
  font-family: legitima;
  line-height: 1em;
}

a.back-link {
  text-decoration: none;
}

/* FOOTER LOVE */
footer {
  position: relative;
  display: block;
  margin-top: -286px;
  padding: 40px;
  background-color: #1B1B1B;

  background-image: -webkit-linear-gradient(top, #1e160f, #1c1711);
  background-image: -moz-linear-gradient(top, #1e160f, #1c1711);
  background-image: -o-linear-gradient(top, #1e160f, #1c1711);
  background-image: -ms-linear-gradient(top, #1e160f, #1c1711);
  background-image: linear-gradient(top, #1e160f, #1c1711);

  -webkit-box-shadow: 0px 0px 20px black inset;
  box-shadow: 0px 0px 20px black inset;
  color: #555;
}

footer h3 {
  text-shadow: 1px 1px 1px #111;
  font-size: 1.4rem;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  margin: -5px -10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #0077a2;
  text-decoration: none;
}

footer a:hover {
  background: #111;
  color: #0088cc;
  text-decoration: none;
}

footer .copyright {
  margin-top: 1rem;
}

/* BOOTSTRAP NAVBAR TWEAKS */
.navbar-inverse .navbar-inner {
  padding: 0.6rem;
  background-color: #1B1B1B;

  background-image: -webkit-linear-gradient(top, #1e160f, #1c1711);
  background-image: -moz-linear-gradient(top, #1e160f, #1c1711);
  background-image: -o-linear-gradient(top, #1e160f, #1c1711);
  background-image: -ms-linear-gradient(top, #1e160f, #1c1711);
  background-image: linear-gradient(top, #1e160f, #1c1711);

  -webkit-box-shadow: 0px 0px 20px black inset;
  box-shadow: 0px 0px 20px black inset;
}

.navbar-inverse .brand,.navbar-inverse .nav > li > a {
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav .active > a,.navbar-inverse .nav .active > a:hover,.navbar-inverse .nav .active > a:focus {
  background-color: #0f0b07;
  color: white;
}

.navbar .brand img {
  margin: -100px 6px;
  width: 2rem;
}
