<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>500 Page Not Found - Monkeypuzzles</title>
  <meta name="description" content="A collection of the greatest puzzles in the world.">
  <meta name="author" content="Adam Renberg and Olle Werme">
  <meta name="viewport" content="width=device-width">
</head>
<body>

  <h1>500 Internal Server Error. Oopsies!</h1>
  <p>Something went wrong. Really, really wrong. Duck and cover wrong. We don't
  know.</p>

</body>
</html>
